.order-summary {
    background-color: var(--surface-0);
    padding: 15px;
    border: 1px solid var(--surface-200);
    border-radius: 15px;
}
.summary-price {
        display: flex;
        margin: 15px 0;
}
 .summary-price span {
            display: block;
            width: 70%;
 }
  .summary-price span:last-child {
                width: 30%;
                font-weight: 600;
            }

.free {
            color: green;
        }
       

.checkout-button  Button {
            width: 100%;
            background-color: #FE7F10;
            color: #ffffff;
            border: none;
            width: 90%;
            height: 45px;
            margin: 0px 0px;
            padding: 0px 10px;
            outline: none;
            text-transform: uppercase;
            margin-top: 10px;
            border-radius: 3px;
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
        }
.checkout-button Button:hover {
    background-color: #FE7F10;
}
.order-box {
    width: 100%; 
}

@media (max-width:600px) {
    .summary-price span {
       font-size: .9rem;
    }

    
}
   